{% extends 'base.html'%} {% import 'macro.html' as macro %} 
{% block content %}
<link rel=stylesheet type=css href="{{ url_for('static', filename='static/style.css') }}">
<h2>The Daily Tribune </h2><br>
<span><em><h4>Africa's number one news providers </h4></em></span><br>
<h1>GENERAL NEWS</h1>
<ul>
  <li>{{ macro.displaySources(general)}}</li>
</ul>
<h1>SPORTS NEWS</h1>
<ul>
  <li>{{ macro.displaySources(sports)}}</li>
</ul>
<h1>BUSINESS NEWS</h1>
<ul>
  <li>{{ macro.displaySources(business)}}</li>
</ul>
<h1>ENTERTAINMENT NEWS</h1>
<ul>
  <li>{{ macro.displaySources(entertainment)}}</li>
</ul>
<h1>SCIENCE NEWS</h1>
<ul>
  <li>{{ macro.displaySources(science)}}</li>
</ul>
<h1>HEALTH NEWS</h1>
<ul>
  <li>{{ macro.displaySources(health)}}</li>
</ul>
<h1>TECHNOLOGY NEWS</h1>
<ul>
  <li>{{ macro.displaySources(technology)}}</li>
</ul>
{% endblock %}