{% extends 'base.html'%} {% import 'macro.html' as macro %} 
{% block content %}
Welcome to The News Article <br>
Africa's number one news providers <br>
GENERAL NEWS
<ul>
  <li>{{ macro.displaySources(general)}}</li>
</ul>
SPORTS NEWS
<ul>
  <li>{{ macro.displaySources(sports)}}</li>
</ul>
BUSINESS NEWS
<ul>
  <li>{{ macro.displaySources(business)}}</li>
</ul>
ENTERTAINMENT NEWS
<ul>
  <li>{{ macro.displaySources(entertainment)}}</li>
</ul>
SCIENCE NEWS
<ul>
  <li>{{ macro.displaySources(science)}}</li>
</ul>
HEALTH NEWS
<ul>
  <li>{{ macro.displaySources(health)}}</li>
</ul>
TECHNOLOGY NEWS
<ul>
  <li>{{ macro.displaySources(technology)}}</li>
</ul>
{% endblock %}